name: Deploy blog

on:
  push:
  workflow_dispatch:

jobs:
  deploy_blog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install Hugo
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${{ vars.HUGO_VERSION }}/hugo_extended_${{ vars.HUGO_VERSION }}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Build with Hugo
        env:
          HUGO_ENVIRONMENT: production
        run: |
          hugo --minify

      - name: Setup SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ${{ runner.temp }}/blog_key
          chmod 600 ${{ runner.temp }}/blog_key
          echo "${{ secrets.SERVER_PUBLIC_KEY }}" > ${{ runner.temp }}/known_hosts

      - name: Deploy blog on host
        run: |
          rsync -avz --delete \
          -e "ssh -p ${{ secrets.SSH_PORT }} \
                  -i ${{ runner.temp }}/blog_key \
                  -o UserKnownHostsFile=${{ runner.temp }}/known_hosts" \
          public/ \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/blog
